*{
  font-family: 'Montserrat', sans-serif;
}


main {
  max-width: 800px;
  margin: auto;
}

.main-pic {
  width: 800px;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 40px;
  border-radius: 20px;
} 

.text{
  height: 950px;
  width: 800px;
  margin-top: 40px;
  font-size: large;
  text-align: justify;
}

.bold{
  font-weight: bold;
  text-decoration: underline;
  color: #222222;
}
@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Roboto-Thin.tff);
}

.title {
  text-align: center;  
  
  margin-top: 30px;
  color: #222222;
}

.albumPics {
  height: 200px;
  width: 200px;
  border: #222222;
  border-style:solid;
  
}

#play{
  height: 25px;
  width: 80px;
  border-radius: 20px;
}

a:visited, a:link{
  color: #222222;
  background-color: transparent;
  text-decoration: none;
}

.source {
  text-align: center;
}